@import "../../../index.scss";

.Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 96vh;
  justify-content: space-around;
  padding-bottom: 4vh;
}

.FormContainer {
  width: 110vh;
  height: 65vh;
  display: flex;
}

@mixin column {
  width: 33.33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.Left {
  @include column();
}

.Center {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Right {
  @include column();
}

input {
  @include InputSize;
  @include neumorphism;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}

.Loading_Container {
  width: 31vh;
  height: 31vh;
  margin-top: 15%;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.Animated {
  background-image: url("../../../assets/animated.svg");
  width: 30vh;
  height: 30vh;
  background-size: contain;
  /* important part */
  grid-area: inner-div;
}

.Top {
  width: 30vh;
  height: 30vh;
  border-radius: 200px;
  background-color: rgba(242, 242, 242, 0.5);
  backdrop-filter: blur(20px);
  /* important part */
  grid-area: inner-div;
}
