@import "../../../index.scss";

.Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 96vh;
  justify-content: space-around;
  padding-bottom: 4vh;
}

.FormContainer {
  width: 110vh;
  height: 65vh;
  display: flex;
}

@mixin column {
  width: 33.33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.Left {
  @include column();
}

.Center {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Right {
  @include column();
}

.Loading_Container {
  width: 31vh;
  height: 31vh;
  margin-top: 15%;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.Animated {
  background-image: url("../../../assets/animated.svg");
  width: 30vh;
  height: 30vh;
  background-size: contain;
  /* important part */
  grid-area: inner-div;
}

.Top {
  width: 30vh;
  height: 30vh;
  border-radius: 200px;
  background-color: rgba(242, 242, 242, 0.5);
  backdrop-filter: blur(20px);
  /* important part */
  grid-area: inner-div;
}

@mixin extraContainers {
  border-radius: 20px;
  width: 260px;
  height: 25px;
  padding: 10px;
  @include neumorphism;
  color: $light_black;
  background-color: white;
}

.RadioContainer {
  @include extraContainers();
  display: flex;
  justify-content: space-around;
  color: $light_black;
  align-items: center;
  transform: rotate(-30deg);
}

.SelectContainer {
  @include extraContainers();
  transform: rotate(0deg);
  display: flex;
  color: $light_black;
  align-items: center;
  cursor: pointer;
}

.DateContainer {
  @include extraContainers();
  transform: rotate(30deg);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

select {
  width: 260px;
  height: 25px;
  border: none;
  font-size: 14px;
  color: $light_black;
}

label {
  color: $light_black;
  font-size: 14px;
}

.ModalShow {
  position: absolute;
  display: block;
}

.ModalHide {
  position: absolute;
  display: none;
}
